html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{ text-decoration:none; color:#000;}



* {-webkit-tap-highlight-color: rgba(0,0,0,0);}
* { font-weight:normal; text-shadow:none!important; }
html{font-size: 14px; font-family:arial,'Microsoft Yahei';overflow-y:scroll; }
.fl{float: left;}
.fr{float: right;}
.clear:after{content: ''; display: block; clear: both;}
.clear{zoom: 1;}
.hide{
	display: none;
}
/*index*/

#head{
	height: 40px;
	background-color: #ffffff;
	border-bottom: 1px solid #ffd006;
}
#head .logo{
	float: left;
	padding: 6px 12px;
}
#head .logo img{
	width: 15px;
	height: 25px;
}
#head .collection{
	float: right;
	padding: 10px 15px;
}
#head .collection img{
	width: 20px;
	height: 20px;
	float: left;
}
#head .collection span{
	float: left;
	line-height: 20px;
	margin-left: 5px;
}
/*nav*/
#nav{
	width: 100%;
	height: 183px;
}
#nav{
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}
#nav ul{
	-webkit-transition: left 800ms ease-in 0;
	-moz-transition: left 800ms ease-in 0;
	-o-transition: left 800ms ease-in 0;
	-ms-transition: left 800ms ease-in 0;
	transition: left 800ms ease-in 0;
	width: 100%;
	height: 180px;
}
#nav ul li{
	min-width:320px;
	height: 100%;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
}
#nav ul li img{
	height: 100%; 
	width: 100%;
}

#nav .pagenavi{
	width: 100%; 
	height: 3px;
	position: absolute;
	left: 0;
	bottom: 10px;
	z-index: 3; 
}
#nav .pagenavi a{
	width: 32.5%;
	height: 3px;
	background: #ffffff;
	display: inline-block;
}
#nav .pagenavi a.active{
	background:#ffd966;
}
/*hot pro*/
#pro{
	padding-top: 20px;
	background-color: #f3f3f3;
	color: #f15656;
}
#pro h2{
	padding-left: 6px;
}
#pro h2 img{
	width: 16px;
	height: 16px;
	float: left;
}
#pro h2 span{
	margin-left: 3px;
	font-size: 1.14rem;
	line-height: 16px;
	float: left;
}
#pro .box{
	padding: 8px 0;
	text-align: center;
}
#pro .box img{
	width: 43%;
	height: 114px;
	margin: 2%;
}
#pro .info{
	border-bottom: 1px solid #e8e8e8;
}
#pro .info img{
	width: 100%;
	vertical-align: top;
}




/*foot*/
/*footer*/

footer#footer{
	height:76px;
	width: 100%;
}
footer#footer .signUp{
	height: 40px;
	border: 1px solid #e5e5e5;
	border-left: none;
	border-right: none;
	padding: 0 1em;
	line-height: 40px;
	color: #838383;
	background: #fff;
}
footer#footer .signUp a{
	color: #838383;
	font-weight: normal;
	margin: 0 10px 0 0;
}
footer#footer .signUp a.f_username{
	color: #fc6c4d;
}
footer#footer .version{
	background-color: #37383d;
}
footer#footer .version p{
	padding: 10px 0 10px 0;
	width: 92%;
	margin: 0 auto;
	border-bottom: 1px solid #000000;
	text-align: center;
	line-height: 1.4rem;
}
footer#footer .version a{
	margin: 0 6px;
	color: #ffffff;
	font-size: 1rem;
}
/*版权*/
.copyright{
	padding-top: 6px;
	padding-bottom: 60px;
	background: #37383d;
	line-height: 1.5rem;
	text-align: center;
	color: #c6cacf;
	font-weight: normal;
}

/*两个浮层*/
#index_login{
	width: 100%;
	height: 53px;
	position: fixed;
	left: 0;
	bottom: 0;
}
#index_login img{
	width: 100%;
	height: 53px;
}
#index_login a{
	width: 90px;
	height: 37px;
	position: absolute;
	right: 17px;
	top: 6px;
}

/*page 后退*/
.page{
	height: 43px;
	background-color: #ef4023;
	position: relative;
}
.page .back{
	position: absolute;
	left: 9px;
	top: 14px;
}
.page .back img{
	width: 20px;
	height: 16px;
}
.page .title{
	line-height: 43px;
	font-size: 1.285rem;
	color: #ffffff;
	text-align: center;
}
/* login and reg*/
.content{
	padding: 5px 0 100px 0;
	background-color: #e4e4e4;
}
#form{
	width: 96.875%;
	margin: 0 auto;
	overflow: hidden;
	background-color: #ffffff;
	box-shadow: 0px 0px 1px 2px #eee;
}
#form ul{
	width: 102%;
	height: 36px;
	background-color: #f7f7f7;
}
#form li{
	width: 49%;
	height: 100%;
	line-height: 36px;
	float: left;
	font-size: 1rem;
	text-align: center;
}
#form li.border{
	border-left: 1px solid #e6e6e6;
}
#form li a{
	display: block;
	border-bottom: 1px solid #e6e6e6;
	color: #36393b; 
}
#form li a.active{
	background-color: #ffffff;
	border-color: #ffffff;
}


/*login*/
#login{
	padding: 1rem;
}
#login div{
	position: relative;
	margin-top: 10px;
}
#login div input.j-input,#login .ver input{
	padding: 0 .8em;
	font-size: 1.2rem;
	font-family: arial,'Microsoft Yahei';
	height: 45px;
	border: 1px solid #c7c7c7;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	border-radius: 5px;
}
#login div input.err{
	border: 1px solid #d2130b;
}
#login div.entry{
	color: #d2130b;
}
#login div input.j-input[type="tel"], #login div input.j-input[type="password"]{
	background-size: 20px auto;
}
#login .login_on{
	display: inline-block;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #eb4225;
	color: #fff;
	font-size: 1.285rem;
	border-radius: 5px;
}
#login .btns{
	padding: 0.4rem 0;
}
#login .btns p{
	float: right;
}
#login .btns a{
	font-size: 1rem;
	line-height: 1.4rem;
	color: #57595a;
	margin: 0 .6rem;
}
/*reg same as login*/
.content2{
	padding: 5px 0 15px 0;
	background-color: #e4e4e4;
}
#login .who a{
	float: left;
	width: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 1rem;
}
#login .who i{
	width: 1.2rem;
	height: 1.2rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border: 2px solid #d9d9d9;
	border-radius: 0.6rem;
	background-color: #d9d9d9;
	float: left;
}
#login .who a.active i{
	background-color: #ef4023;
}
#login .who span{
	margin-left: .6rem;
	line-height: 1.2rem;
	float: left;
	font-size: 1rem;
	color: #37383d;
}
/*验证码*/
#login .ver input{
	width: 50%;
	background-size: 20px auto;
	float: left;
}
#login .ver .ui-input-text{
	border: none;
}
#login .ver a{
	width: 45%;
	float: right;
	background-color: #a2a2a2;
	color: #ffffff;
	border-radius: 5px;
	height: 45px;
	line-height: 45px;
	text-align: center;
}
/*协议*/
#login .xieyi{
	padding-left: .6rem;
}
#login .xieyi i{
	width: 16px;
	height: 16px;
	float: left;
	background-image: url(../images/xieyi.png);
	background-size: 16px 16px;
}
#login .xieyi i.active{
	background-image: url(../images/xieyi2.png);
}
#login .xieyi span{
	line-height: 16px;
	font-size: 1rem;
	margin: 0 .3rem;
	color: #777777;
}
#login .xieyi a{
	color: #1788ff;
}
/*申请店铺*/
.content3{
	padding: .6rem;
	padding-bottom: 0;
	background-color: #ffffff;
}
#shop h2{
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.8rem;
	color: #555555;
}
#shop .form{
	padding: .4rem;
}
#shop .form.border{
	border-bottom: 1px solid #e7e7e7;
}
#shop .form div{
	position: relative;
	margin-top: 10px;
}
#shop .form input.j-input{
	padding: 0 .8em;
	font-size: 1.2rem;
	font-family: arial,'Microsoft Yahei';
	height: 45px;
	border: 1px solid #c7c7c7;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	border-radius: 5px;
}
#shop .form input.err{
	border: 1px solid #d2130b;
}
#shop .form .entry{
	line-height: 1.5rem;
	color: #d2130b;
}
#shop .form input{
	background-size: 20px auto;
}
#shop .form p{
	font-size: 0.99rem;
	color: #838383;
	line-height: 1.5rem;
}

#shop .change_shop span{
	color: #97a4ae;
	float: left;
	line-height: 25px;
}
#shop .change_shop em{
	float: left;
	line-height: 25px;
	color: #5caada;
}
#shop .change_shop a{
	float: right;
	width: 62px;
	height: 25px;
	line-height: 25px;
	font-size: 1rem;
	color: #ffffff;
	background-color: #5eacde;
	border-radius: 3px;
	text-align: center;
}
#shop .for_change_shop{
	display: none;
}
#shop .login_on{
	padding: .5rem;
	text-align: center;
}
#shop .login_on a{
	display: inline-block;
	width: 60%;
	height: 35px;
	font-size: 1.1rem;
	background-color: #fc6c4d;
	color: #ffffff;
	line-height: 35px;
	border-radius: 4px;
}
/*审核*/
#exma{
	padding-top: 1rem;
	padding-left: 1.8rem;
	padding-right: 1.8rem;
	color: #838383;
}
#exma div{
	position: relative;
	margin-top: 10px;
}
#exma div.img{
	text-align: center;
}
#exma div img{
	width: 85px;
	height: 85px;
}
#exma div h2{
	font-size: 1.1rem;
	line-height: 30px;
}
#exma div p{
	font-size: 1rem;
	line-height: 28px;
}
#exma div a{
	color: #5faee0;
}
.exma_ok{
	padding-bottom: 50px;
}
.exma_fail{
	padding-bottom: 15px;
}
#exma div.notice{
	color: #ff6637;
	font-size: .8rem;
	line-height: 16px;
	padding-top: 16px;
}
#exma .change{
	text-align: center;
	padding-top: 20px;
}
#exma .change a{
	display: inline-block;
	width: 100px;
	height: 30px;
	font-size: 1rem;
	color: #ffffff;
	line-height: 30px;
	text-align: center;
	background-color: #60b1e3;
	border-radius: 4px;
}
#feddback{
	padding-top: .6rem;
	padding-left: .4rem;
	padding-right: .4rem;
	color: #838383;
}
#feddback div{
	position: relative;
	margin-top: 10px;
}
#feddback div.border{
	padding-bottom: 10px;
	border-bottom: 1px solid #eeeeee;
}
#feddback p{
	line-height: 20px;
}
#feddback textarea{
	width: 100%;
	border: none;
	background-color: #eee;
	font-size: 1rem;
	line-height: 1.5rem;
}
#feddback p.p_right{
	float: right;
}
#feddback .link span{
	line-height: 45px;
}
#feddback .link input{
	width: 75%;
	padding: 0 .8em;
	font-size: 1.2rem;
	font-family: arial,'Microsoft Yahei';
	height: 45px;
	border: 1px solid #c7c7c7;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 5px;
	float: right
}
#feddback .link input.err{
	border: 1px solid #d2130b;
}
#feddback .link input{
	background-size: 20px auto;
}
#feddback .tijiao{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
}
#feddback .tijiao a{
	width: 60%;
	height: 40px;
	display: inline-block;
	line-height: 40px;
	color: #ffffff;
	font-size: 1.2rem;
	text-align: center;
	background-color: #fc6c4d;
	border-radius: 5px;
}