html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{ text-decoration:none; color:#000;}



* {-webkit-tap-highlight-color: rgba(0,0,0,0);}
* { font-weight:normal; text-shadow:none!important; }
html{font-size: 14px; font-family:arial,'Microsoft Yahei';overflow-y:scroll; }
.fl{float: left;}
.fr{float: right;}
.clear:after{content: ''; display: block; clear: both;}
.clear{zoom: 1;}

/*index*/

#head{
	height: 40px;
	background-color: #ffffff;
	border-bottom: 1px solid #ffd006;
}
#head .logo{
	float: left;
	padding: 6px 12px;
}
#head .logo img{
	width: 15px;
	height: 25px;
}
#head .collection{
	float: right;
	padding: 10px 15px;
}
#head .collection img{
	width: 20px;
	height: 20px;
	float: left;
}
#head .collection span{
	float: left;
	line-height: 20px;
	margin-left: 5px;
}
/*nav*/
#nav{
	width: 100%;
	height: 183px;
}
#nav{
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}
#nav ul{
	-webkit-transition: left 800ms ease-in 0;
	-moz-transition: left 800ms ease-in 0;
	-o-transition: left 800ms ease-in 0;
	-ms-transition: left 800ms ease-in 0;
	transition: left 800ms ease-in 0;
	width: 100%;
	height: 180px;
}
#nav ul li{
	min-width:320px;
	height: 100%;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
}
#nav ul li img{
	height: 100%; 
	width: 100%;
}

#nav .pagenavi{
	width: 100%; 
	height: 3px;
	position: absolute;
	left: 0;
	bottom: 10px;
	z-index: 3; 
}
#nav .pagenavi a{
	width: 32.5%;
	height: 3px;
	background: #ffffff;
	display: inline-block;
}
#nav .pagenavi a.active{
	background:#ffd966;
}
/*hot pro*/
#pro{
	padding-top: 20px;
	background-color: #f3f3f3;
	color: #f15656;
}
#pro h2{
	padding-left: 6px;
}
#pro h2 img{
	width: 16px;
	height: 16px;
	float: left;
}
#pro h2 span{
	margin-left: 3px;
	font-size: 1.14rem;
	line-height: 16px;
	float: left;
}
#pro .box{
	padding: 8px 0;
	text-align: center;
}
#pro .box img{
	width: 43%;
	height: 114px;
	margin: 2%;
}
#pro .info{
	border-bottom: 1px solid #e8e8e8;
}
#pro .info img{
	width: 100%;
	vertical-align: top;
}




/*foot*/
/*footer*/

footer#footer{
	height:76px;
	width: 100%;
}
footer#footer .signUp{
	height: 40px;
	border: 1px solid #e5e5e5;
	border-left: none;
	border-right: none;
	padding: 0 1em;
	line-height: 40px;
	color: #838383;
	background: #fff;
}
footer#footer .signUp a{
	color: #838383;
	font-weight: normal;
	margin: 0 10px 0 0;
}
footer#footer .signUp a.f_username{
	color: #fc6c4d;
}
footer#footer .version{
	background-color: #37383d;
}
footer#footer .version p{
	padding: 10px 0 10px 0;
	width: 92%;
	margin: 0 auto;
	border-bottom: 1px solid #000000;
	text-align: center;
	line-height: 1.4rem;
}
footer#footer .version a{
	margin: 0 6px;
	color: #ffffff;
	font-size: 1rem;
}
/*版权*/
#copyright{
	padding-top: 6px;
	padding-bottom: 60px;
	background: #37383d;
	line-height: 1.5rem;
	text-align: center;
	color: #c6cacf;
	font-weight: normal;
}

/*两个浮层*/
#index_login{
	width: 100%;
	height: 53px;
	position: fixed;
	left: 0;
	bottom: 0;
}
#index_login img{
	width: 100%;
	height: 53px;
}
#index_login a{
	width: 90px;
	height: 37px;
	position: absolute;
	right: 17px;
	top: 6px;
}

/*page 后退*/
.page{
	height: 43px;
	background-color: #ef4023;
	position: relative;
}
.page .back{
	position: absolute;
	left: 9px;
	top: 14px;
}
.page .back img{
	width: 20px;
	height: 16px;
}
.page .title{
	line-height: 43px;
	font-size: 1.285rem;
	color: #ffffff;
	text-align: center;
}
/* login and reg*/
.content{
	padding: 5px 0 8px 0;
	background-color: #e4e4e4;
}
#form{
	width: 96.875%;
	margin: 0 auto;
	overflow: hidden;
	background-color: #ffffff;
	box-shadow: 0px 0px 1px 2px #eee;
}
#form ul{
	width: 102%;
	height: 36px;
	background-color: #f7f7f7;
}
#form li{
	width: 49%;
	height: 100%;
	line-height: 36px;
	float: left;
	font-size: 1rem;
	text-align: center;
}
#form li.border{
	border-left: 1px solid #e6e6e6;
}
#form li a{
	display: block;
	border-bottom: 1px solid #e6e6e6;
	color: #36393b; 
}
#form li a.active{
	background-color: #ffffff;
	border-color: #ffffff;
}









