<div class="body">
		<div class="ui_body">
			<!-- 基础表单 -->
			<div class="ui_form">
				<form action="">
					<div class="ui_form_one">
						<label for="username">用户名：</label>
						<input type="text" id="username" value="ggogog" class="ui_base_text">
					</div>
					<div class="ui_form_one">
						<label for="username">用户名：</label>
						<input type="text" id="username" value="ggogog" class="ui_base_text">
					</div>
					<div class="ui_form_one">
						<label for="username">用户名：</label>
						<input type="text" id="username" value="ggogog" class="ui_base_text">
					</div>
					<div class="ui_form_one">
						<label for="username">用户名：</label>
						<input type="text" id="username" value="ggogog" class="ui_base_text">
					</div>
					<div class="ui_form_one">
						<label for="username">用户名：</label>
						<input type="text" id="username" value="ggogog" class="ui_base_text">
					</div>
					<div class="ui_form_btn">
						<a href="javascript:;" class="ui_base_btn">查询</a>
					</div>
				</form>
			</div>

			<!-- 基础表格 -->
			<div class="ui_table">
				<table>
					<thead>
						<tr>
							<th width="60px;">序号</th>
							<th>用户名</th>
							<th>邮件</th>
							<th>手机号码</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>123</td>
							<td>1234</td>
							<td>12345</td>
							<td>123456</td>
						</tr>
						<tr>
							<td>1</td>
							<td>123</td>
							<td>1234</td>
							<td>12345</td>
							<td>123456</td>
						</tr>
						<tr>
							<td>1</td>
							<td>123</td>
							<td>1234</td>
							<td>12345</td>
							<td>123456</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colSpan="5">
								<div class="ui_pages">
									1234
								</div>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
			<div class="ui_table">
				<table>
					<thead>
						<tr>
							<th width="60px;">序号</th>
							<th>用户名</th>
							<th>邮件</th>
							<th>手机号码</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>123</td>
							<td>1234</td>
							<td>12345</td>
							<td>123456</td>
						</tr>
						<tr>
							<td>1</td>
							<td>123</td>
							<td>1234</td>
							<td>12345</td>
							<td>123456</td>
						</tr>
						<tr>
							<td>1</td>
							<td>123</td>
							<td>1234</td>
							<td>12345</td>
							<td>123456</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colSpan="5">
								<div class="ui_pages">
									1234
								</div>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>

		</div>
	</div>