<!doctype html>
<html lang="en">
<head>
	<% include head_meta.ejs %>
	<link rel="stylesheet" type="text/css" href="../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../css/monokai.css">
</head>
<body>
	<a href="/admin">admin</a>
	<% include foot.ejs %>

</body>
</html>