<% include head.html %>

</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->

<% include nav.html %>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header fn-ms">欢迎使用星火后台管理系统</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-6">
                    
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <i class="fa fa-bug fa-fw"></i> <span class="fn-ms">浏览器要求:</span>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="javascript:;" class="list-group-item">1. IE10+</a>
                                <a href="javascript:;" class="list-group-item">2. Chrome 34+</a>
                                <a href="javascript:;" class="list-group-item">3. Firefox 35+</a>
                                <a href="javascript:;" class="list-group-item">4. Safari 7+</a>
                                <a href="javascript:;" class="list-group-item fn-ms">5. 其他浏览器请谨慎使用</a>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->

                <div class="col-lg-6">
                    
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa fa-file-word-o fa-fw"></i> <span class="fn-ms">系统使用说明:</span>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="javascript:;" class="list-group-item fn-ms">1. 需要切换至旧系统使用，请点击右上角，选择下拉框的切换至旧系统。</a>
                                <a href="javascript:;" class="list-group-item fn-ms">2. 需要从旧系统切换至新系统，请点击左上角logo。</a>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

</body>
<% include foot.html %>