
<!doctype html>
<html lang="en">
<head>
	<% include head_meta.ejs %>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../css/font-awesome.min.css">
</head>
<body>

	<div class="ui_logreg">
		<form action="">
			<div>
				<h2><%= title %></h2>
			</div>
			<div>
				<label for="username">邮箱：</label>
				<input type="text" id="username" value="ggogog" class="ui_base_text">
			</div>
			<div>
				<label for="username">密码：</label>
				<input type="text" id="username" value="ggogog" class="ui_base_text">
			</div>
			<div class="ui_form_btn">
				<a href="javascript:;" class="ui_base_btn" style="line-height: 34px; margin-left: 45px; width: 192px;"><%= title %></a>
			</div>
		</form>
	</div>
	
</body>
<script type="text/javascript" src="../../js/jquery-min.js"></script>

</html>