
<!doctype html>
<html lang="en">
<head>
	<% include head_meta.ejs %>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../css/font-awesome.min.css">
</head>
<body>

	<div class="ui_logreg">
		<form action="/admin/login">
			<div>
				<h2><%= title %></h2>
			</div>
			<div>
				<label for="username">用户名：</label>
				<input type="text" id="username" class="ui_base_text" name="username" placeholder="请输入昵称／邮箱">
			</div>
			<div>
				<label for="password">密&nbsp;&nbsp;&nbsp;&nbsp;码：</label>
				<input type="text" id="password" class="ui_base_text" name="password" placeholder="请输入密码">
			</div>
			<div class="ui_form_btn">
				<a href="javascript:;" class="ui_base_btn" style="line-height: 34px; margin-left: 55px; width: 192px;" id="js_login"><%= title %></a>
			</div>
		</form>
	</div>
	
</body>
<script type="text/javascript" src="../../js/jquery-min.js"></script>
<script type="text/javascript">
$(function(){
	$("#js_login").on("click", function(){
		var username = $("#username").val();
		var password = $("#password").val();
		
		if($.trim(username) === "" || $.trim(password) === ""){
			alert("用户名或密码不能为空！")
		}

		$.ajax({
			type: "post",
			url: "/admin/login",
			data: {
				username : username,
				password :password
			},
			dataType: "json",
			success : function (data){
				console.log(data);
			},
			error: function (err){
				throw err;
			}
		})
		// ceshitijiao

	})
})
</script>
</html>













