<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand fn-ms" href="/">管理系统</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#" class="fn-ms"><i class="fa fa-user fa-fw"></i>管理员</a></li>
                <li><a href="javascript:;" id="js_modify_password" class="fn-ms"><i class="fa fa-yelp fa-fw"></i>修改密码</a></li>
                <li class="divider"></li>
                <li><a href="/xinghuo/logout.shtml" class="fn-ms"><i class="fa fa-sign-out fa-fw"></i> 登出</a></li>
            </ul>
        </li>
    </ul>

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="javascript:;" class="fn-ms"><i class="fa fa-user fa-fw"></i>用户管理<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/xinghuouser/consumer.shtml" class="fn-ms">普通用户</a>
                        </li>
                        <li>
                            <a href="/xinghuouser/director.shtml" class="fn-ms">会员用户</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>