<!doctype html>
<html lang="en">
<head>
	<% include head_meta.ejs %>
	<link rel="stylesheet" type="text/css" href="../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../css/monokai.css">
</head>
<body>
	<a href="/admin">admin</a>
	<% if(login){ %>
	<div>
		<p>欢迎</p>
		<p><%= username %></p>
		<p><%= team %></p>
		<p><%= email %></p>
	</div>
	<a href="javascript:;" id="logout">登出</a>
	<% }else{ %>
	<a href="/admin/login">登录</a>
	<% } %>
	<% include foot.ejs %>
</body>
<script type="text/javascript" src="../js/jquery-min.js"></script>
<script type="text/javascript">
	$(function(){

		$("#logout").on("click", function(){
			$.ajax({
				method: "post",
				url: "/admin/logout",
				success: function(data){
					if(data.target){
						window.location.href = "http://10.106.90.230:3000/admin/login";
					}
				}
			});
		});

	})
</script>
</html>