<!-- 左侧导航 -->
	<div class="nav">
		<!-- 一级列表 -->
		<ul class="ui_nav" id="js_nav">
			<li class="ui_nav_one">
				<div>
					<i class="fa fa-cart-plus"></i>
					<a href="javascript:;">资源管理</a>
					<% if(url === "resource"){ %>
					<i class="fa fa-angle-up"></i>
					<% }else{ %>
					<i class="fa fa-angle-down"></i>
					<% } %>
				</div>
				<% if(url === "resource"){ %>
				<ul class="show">
				<% }else{ %>
				<ul>
				<% } %>
					<li class="top"><i class="fa fa-sort-asc"></i></li>
					<li class="ui_nav_two"><a href="/admin/resource/imgs">图片管理</a></li>
					<li class="ui_nav_two"><a href="/admin/resource/word">文本管理</a></li>
					<li class="ui_nav_two"><a href="/admin/resource/music">音乐管理</a></li>
					<li class="ui_nav_two"><a href="/admin/resource/excel">表格管理</a></li>
				</ul>
			</li>
			<li class="ui_nav_one">
				<div>
					<i class="fa fa-cog"></i>
					<a href="#">系统管理</a>
					<i class="fa fa-angle-down"></i>
				</div>
				<ul>
					<li class="top"><i class="fa fa-sort-asc"></i></li>
					<li class="ui_nav_two"><a href="#">系统管理</a></li>
					<li class="ui_nav_two"><a href="#">菜单管理</a></li>
					<li class="ui_nav_two"><a href="#">角色管理</a></li>
					<li class="ui_nav_two"><a href="#">管理员管理</a></li>
					<li class="ui_nav_two"><a href="#">后台日志</a></li>
					<li class="ui_nav_two"><a href="#">站点配置</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<script type="text/javascript">
		
		var nav = document.getElementById("js_nav");
		var navLists = nav.getElementsByClassName("ui_nav_one");

		for(var i=0; i<navLists.length; i++){
			navLists[i].addEventListener("click", function listOpen(){
				closeALLlist();
				if(this.getElementsByTagName("ul").length){
					this.getElementsByTagName("ul")[0].className = "show";
					this.getElementsByTagName("i")[1].className = "fa fa-angle-up";
				}
			});
		}

		function closeALLlist(){
			for(var i=0; i<navLists.length; i++){
				if(navLists[i].getElementsByTagName("ul").length){
					navLists[i].getElementsByTagName("i")[1].className = "fa fa-angle-down";
					navLists[i].getElementsByTagName("ul")[0].className = "hide";
				}
			}
		}
		
	</script>